.slode{
    width: 70px;
    height: 500px;
    background: url(./e66c01833178d0fd43ce198b0e33bb7f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.5s;
}
.slode1{
    width: 70px;
    height: 500px;
    background: url(./e66c01833178d0fd43ce198b0e33bb7f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.5s;
}
.slode2{
    width: 70px;
    height: 500px;
    background: url(./e66c01833178d0fd43ce198b0e33bb7f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.5s;
}
.slode3{
    width: 70px;
    height: 500px;
    background: url(./e66c01833178d0fd43ce198b0e33bb7f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.5s;
}
.slode4{
    width: 70px;
    height: 500px;
    background: url(./e66c01833178d0fd43ce198b0e33bb7f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.5s;
}
.div{
    display: flex;
    gap: 70px;
    width: 100%;
}